<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nlog>
    <extensions>
      <add assembly="Elmah.Io.NLog"/>
    </extensions>

    <targets>
      <target name="elmahio" type="elmah.io" logId="cc6043e9-5d7b-4986-8056-cb76d4d52e5e"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="elmahio" />
    </rules>
  </nlog>

</configuration>